/* Copyright 2022 Marc-Antoine Ruel. All rights reserved.
// Use of this source code is governed under the Apache License, Version 2.0
// that can be found in the LICENSE file. */

label {
  font-weight: 700;
}

.result {
  padding: 1em;
}

.failure {
  border-color: red;
  border-style: double;
}

#idle_timeout {
  width: 4em;
}

input:valid {
  background-color: #c0ffc0;
}

input:invalid {
  background-color: #ffc0c0;
}
